<ion-toolbar>
  <ion-title>{{ action === typeActions.EDIT ? 'Editar' : 'Nova' + ' despesa'}}</ion-title>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar  >

<ion-content>
  
  <form [formGroup]="form">
    
    
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor da despesa</ion-label>
      <ion-input formControlName="transactionValue"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select placeholder="Selecione uma categoria">
        <ion-select-option *ngFor="let item of categories" [value]="item.category_id">{{ item.category_name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Conta bancária</ion-label>
      <ion-select placeholder="Selecione uma conta">
        <ion-select-option *ngFor="let item of bankAccounts" [value]="item.account_id">{{ item.account_name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de vencimento</ion-label>
      <ion-datetime formControlName="transactionDueDate" displayFormat="DD/MM/YYYY"></ion-datetime>
    </ion-item>
    <ion-button [disabled]="form.invalid" class="botaoModal" size="block" color="success" (click)="save(form.value)">Salvar</ion-button>
  </form>
</ion-content>
