<ion-toolbar>
  <ion-title>{{ (action === typeActions.EDIT ? 'Editar' : 'Nova') + ' despesa'}}</ion-title>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar  >

<ion-content>
  
  <form [formGroup]="form">
    
    
    <ion-item>
      <ion-label position="stacked">Descrição</ion-label>
      <ion-input formControlName="description"></ion-input>
      <div class="error" *ngIf="descriptionCtrl.invalid && (descriptionCtrl.dirty || descriptionCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Valor da despesa</ion-label>
      <ion-input type="number"[numbersOnly] formControlName="transactionValue"></ion-input>
      <div class="error" *ngIf="transactionValueCtrl.invalid && (transactionValueCtrl.dirty || transactionValueCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Categoria</ion-label>
      <ion-select formControlName="categoryId" placeholder="Selecione uma categoria">
        <ion-select-option *ngFor="let item of categories" [value]="item.id">{{ item.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Conta bancária</ion-label>
      <ion-select formControlName="accountId" placeholder="Selecione uma conta">
        <ion-select-option *ngFor="let item of bankAccounts" [value]="item.id">{{ item.accountName }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de vencimento</ion-label>
      <ion-datetime formControlName="transactionDueDate" displayFormat="DD/MM/YYYY"></ion-datetime>
      <div class="error" *ngIf="transactionDueDateCtrl.invalid && (transactionDueDateCtrl.dirty || transactionDueDateCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ion-button [disabled]="form.invalid" class="botaoModal" size="block" color="success" (click)="save(form.value)">Salvar</ion-button>
  </form>
</ion-content>
