
* {
  --box-shadow: none;
}

.text-center {
  text-align: center;
}

.default {
  font-size: small;
  margin-bottom: 10px;
  align-items: center;
}

.details {
  font-size: smaller;
  align-items: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}
.content-log {
  color: darkgray; 
  text-align: left;
}
