<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button color="dark" type="button" auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-title>Registro de Atividades</ion-title>
</ion-toolbar>
<ion-content>
  <ng-container *ngIf="loading; else logsList" >
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #logsList>
    <ng-container *ngIf="!!!activities; else listRef">
      <p class="text-center">Nenhuma atividade registrada.</p>
    </ng-container>
    <ng-template #listRef>
      <ion-list *ngFor="let item of activities">
        <ion-card>
          <ion-item-group>
            <ion-item>
              <ion-grid>
                <ion-row class="default">
                  <ion-col *ngIf="item.action === 'I'">
                    Criou
                  </ion-col>
                  <ion-col *ngIf="item.action === 'D'">
                    Deletou
                  </ion-col>
                  <ion-col *ngIf="item.action === 'U'">
                    Alterou
                  </ion-col>
                  <ion-col size="5">
                    {{ item.createdAt }}
                  </ion-col>
                  <ion-col size="2" (click)="show()">
                    <ng-container *ngIf="!details">
                      <ion-button color="light" class="botaoDetails">
                        <ion-icon name="add-outline"></ion-icon>
                      </ion-button>
                    </ng-container>
                    <ng-container *ngIf="details">
                      <ion-button color="light" class="botaoDetails">
                        <ion-icon name="remove-outline"></ion-icon>
                      </ion-button>
                    </ng-container>
                  </ion-col>
                </ion-row>
                <ion-row class="details">
                  <ng-container *ngIf="details">
                    <ion-col *ngIf="item.table === 'Transactions'"><p style="color: darkgray; text-align: left;">Transação</p></ion-col>
                    <ion-col *ngIf="item.table === 'BankAccount'"><p style="color: darkgray; text-align: left;">Conta Bancária</p></ion-col>
                    <ion-col *ngIf="item.table === 'Categories'"><p style="color: darkgray; text-align: left;">Categoria</p></ion-col>
                    <!-- <ion-col>Valor <p> R$ 3,00</p></ion-col> -->
                    <ion-col><p style="color: darkgray; text-align: left;">Data</p><p> {{ item.updatedAt }}</p></ion-col>
                  </ng-container>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-item-group>
        </ion-card>
      </ion-list>
    </ng-template>
  </ng-template>
</ion-content>
