<ion-buttons slot="start">
  <ion-button  (click)="back()">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button>
</ion-buttons>

  <ion-toolbar>
    <ion-title>Realizar cadastro</ion-title>
  </ion-toolbar>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input type="text" placeholder="Seu nome" required></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input type="text" placeholder="Seu email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input type="password" placeholder="Senha" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input type="password" placeholder="Confirmar senha" required></ion-input>
    </ion-item>

    <ion-row class="botaoRegistrar">
      <ion-col>
        <ion-button type="submit" color="tertiary">Inscrever</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>