<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Inscrever-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>


    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Inscrever</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>