.settings  {
    text-align: center;
}

.photo {
    display: flex;
    justify-content: center;
}
h3 {
    margin-top: 2em;
}
ion-input {
    margin-top: 3em;
    color: black;
    font-size: 30px;
}ion-label {
    margin-top: 4em;
    color: gainsboro;
}

h3 {
  margin-top: 2em;
  text-align: center;
}

ion-label {
  color: gainsboro;
}
