<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ (action === actionsType.EDIT ? 'Editar' : 'Nova') + ' categoria' }}
    </ion-title>
  </ion-toolbar>

  <form [formGroup]="form" [ngClass]="has-error">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input formControlName="name"></ion-input>
      <div class="error" *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Cor</ion-label>
      <input formControlName="color" [value]="color1" [(ngModel)]="color" [(colorPicker)]="color" [style.background]="color"/>
      <div class="error" *ngIf="colorCtrl.invalid && (colorCtrl.dirty || colorCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ng-container *ngIf="!loading; else loadingRef">
      <ion-button
        [disabled]="form.invalid"
        class="botaoModal"
        size="block"
        color="success"
        (click)="save(form.value)"
      >
        Salvar
      </ion-button>
    </ng-container>
    <ng-template #loadingRef>
      <div class="spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-template>
  </form>
</ion-content>
