.spinner-container {
  display: flex;
  justify-content: center;
  padding: {
      top: 20px;
      bottom: 20px;
  }
}

.text-center {
  text-align: center;
}

ion-text h3, ion-text p {
  padding: 0 10px;
}

.details {
  font-size: smaller;
}
