<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Transações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item *ngFor="let item of transactions" style="margin-top: 4px;">
      <ion-label>
        {{ item.description }}
      </ion-label>
      <ion-note slot="end" color="danger">
        {{ item.transaction_value }}
      </ion-note>
      <ion-tem-options side="end">
        <ion-tem-option type="button" (click)="showModalExpense(item)">
          Editar
        </ion-tem-option>
        <ion-tem-option type="button" (click)="deleteTransaction(item.transaction_id)">
          Deletar
        </ion-tem-option>
      </ion-tem-options>
    </ion-item>
  </ion-item-group>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="warning"> 
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
  <ion-fab-button class="botaoFab" color="success" (click)="showModalRevenue()">
    <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
  <ion-fab-button class="botaoFab" color="danger" (click)="showModalExpense()">
    <ion-icon name="remove-outline"></ion-icon>
  </ion-fab-button>
  </ion-fab-list>
  </ion-fab>
</ion-content>
