<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transações</ion-title>
      <ion-button>
        <ion-menu-button content-id="menu"></ion-menu-button>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ng-conainer *ngIf="loading; else transactionList" >
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-conainer>
  <ng-template #transactionList>
    <ion-list>
      <ion-item-group>
        <ion-item *ngFor="let item of transactions">
          <div class="label-info">
            <div class="category">
              <ion-note style="color: blue;" slot="start">
                {{ item.category_id }}
              </ion-note>
              <ion-note slot="start">
                {{ item.transaction_date | date:'dd/MM/yy' }}
              </ion-note>
            </div>
            <span>{{ item.description }}</span>
            <ion-note class="value" position="stacked" color="danger">
              {{ item.transaction_value }}
            </ion-note>
          </div >
          <ion-fab horizontal="end" slot="end">
            <ion-fab-button class="buttonItem" color="transparent">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list class="buttonFabList" side="start">
              <ion-fab-button  color="transparent">
                <ion-item-option  type="button" (click)="editTransaction(item)"> 
                  <ion-icon name="create-outline"></ion-icon>
                </ion-item-option> 
              </ion-fab-button>
              <ion-fab-button  color="transparent">
                <ion-item-option  type="button" (click)="deleteTransaction(item.transaction_id)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option> 
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ion-item-group> 
    </ion-list>
  </ng-template >

 
  <!-- Botão que abre o modal -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="warning"> 
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
  <ion-fab-button class="botaoFab" color="success" (click)="showModalRevenue()">
    <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
  <ion-fab-button class="botaoFab" color="danger" (click)="showModalExpense()">
    <ion-icon name="remove-outline"></ion-icon>
  </ion-fab-button>
  </ion-fab-list>
  </ion-fab>
</ion-content>
