<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Transações</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="filtro">
    <ion-item >
      <ion-label>período</ion-label>
        <ion-datetime [formControl]="dataInicialCtrl"  value="1" min="2020" max="2040"
        [dayShortNames]="customDayShortNames"
        displayFormat="MM/YYYY"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
        <ion-datetime [formControl]="dataFinalCtrl" value="2" min="2020" max="2040"
        [dayShortNames]="customDayShortNames"
        displayFormat="MM/YYYY"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"></ion-datetime>
    </ion-item>
    <form [formGroup]="filterForm">
      <ion-select formControlName="categoryId" placeholder="Filtrar por Categoria">
        <ng-container *ngFor="let item of transactions">
          <ion-select-option *ngIf = "item.transactionType === 0" [value]="item.id">{{ item.category.name }}</ion-select-option>
        </ng-container>      
      </ion-select> 
    </form>
  </div>

  <ng-container *ngIf="loading; else transactionList" >
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #transactionList>
    <ion-list>
      <ion-item-group>
        <ion-item *ngFor="let item of transactions" >
          <div class="label-info">
            <div class="category">
              <ion-note *ngIf = "item.transactionType === 0" [ngStyle]="{'color': item.category.color }" slot="start">
                {{ item.category.name }}
              </ion-note>
              <ion-note slot="start">
                {{ item.transactionDate | date:'dd/MM/yy' }}
              </ion-note>
            </div>
            <span>{{ item.description }}</span>
            <ion-note [ngClass]="item.transactionType === 1 ? 'receita' : 'despesa' "class="value" position="stacked">
              {{ item.transactionValue }}
            </ion-note>
          </div >
          <ion-fab horizontal="end" slot="end">
            <ion-fab-button class="buttonItem" color="transparent">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list class="buttonFabList" side="start">
              <ion-fab-button  color="transparent">
                <ion-item-option  type="button" (click)="editTransaction(item)"> 
                  <ion-icon name="create-outline"></ion-icon>
                </ion-item-option> 
              </ion-fab-button>
              <ion-fab-button  color="transparent">
                <ion-item-option  type="button" (click)="deleteTransaction(item.id)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-item-option> 
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ion-item-group> 
    </ion-list>
  </ng-template >

 
  <!-- Botão que abre o modal -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="warning"> 
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
  <ion-fab-button class="botaoFab" color="success" (click)="showModalRevenue()">
    <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
  <ion-fab-list side="start">
  <ion-fab-button class="botaoFab" color="danger" (click)="showModalExpense()">
    <ion-icon name="remove-outline"></ion-icon>
  </ion-fab-button>
  </ion-fab-list>
  </ion-fab>
  <app-menu></app-menu>
</ion-content>
