<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Categorias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-conainer *ngIf="loading; else categoriesList">
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-conainer>
  <ng-template #categoriesList>
    <ion-list>
      <ion-item-group>
        <ion-item *ngFor="let item of categories">
          <ion-label class="label-info" pisition="stacked">
            <span>{{ item.category_name }}</span>
          </ion-label>
            <ion-fab horizontal="end" slot="end">
              <ion-fab-button class="buttonItem" color="transparent">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list class="buttonFabList" side="start">
                <ion-fab-button  color="transparent">
                   <ion-item-option  type="button" (click)="showModalCategory(item)"> 
                    <ion-icon name="create-outline"></ion-icon>
                  </ion-item-option> 
                </ion-fab-button>
                <ion-fab-button  color="transparent">
                   <ion-item-option  type="button" (click)="deleteCategory(item.category_id)">
                    <ion-icon name="trash-outline"></ion-icon>
                   </ion-item-option> 
                </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
        </ion-item>
      </ion-item-group> 
    </ion-list>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning"> 
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
    <ion-fab-button class="botaoFab" color="success" (click)="showModalCategory()">
      <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    </ion-fab>

</ion-content>
