<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contas Bancárias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="loading; else accountsList">
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #accountsList>
    <ion-list>
      <ion-item-group>
        <ion-item *ngFor="let item of bankAccounts">
          <ion-label class="label-info" pisition="stacked">
            <span>{{ item.account_name }}</span>
            <ng-container *ngIf="clickButton">
              <span>R$ {{ item.balance }}</span>
            </ng-container>
          </ion-label>
          <ion-fab horizontal="end" (click)="show()">
            <ion-fab-button class="buttonItem" color="transparent">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list class="buttonFabList" side="start">
              <ion-fab-button (click)="showModalBankAccount(item)" color="light">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="deleteBankAccount(item.account_id)" color="light">
                  <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ion-item-group> 
    </ion-list>
  </ng-template>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning"> 
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
    <ion-fab-button class="botaoFab" color="success" (click)="showModalBankAccount()">
      <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    </ion-fab>
    <app-menu></app-menu>
</ion-content>
