<ion-toolbar>
  <ion-title>Contas bancárias</ion-title>
</ion-toolbar>

<ion-content>
  <ng-container *ngIf="loading; else accountsList">
    <div class="spinner-container">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-container>
  <ng-template #accountsList>
      <ion-item-group>
        <ion-item *ngFor="let item of bankAccounts">
          <ion-label class="label-info" pisition="stacked">
            <span>{{ item.accountName }}</span>
            <span>R$ {{ item.balance }}</span>
          </ion-label>
          <ion-fab horizontal="end" (click)="show()">
            <ion-fab-button class="buttonItem" color="transparent">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list class="buttonFabList" side="start">
              <ion-fab-button (click)="showModalBankAccount(item)" color="light">
                <ion-icon name="create-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-button (click)="deleteBankAccount(item.id)" color="light">
                  <ion-icon name="trash-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-item>
      </ion-item-group>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="showModalBankAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-menu></app-menu>
</ion-content>
