.text-center {
  text-align: center;
}

.botaoFab {
  width: 50px;
  height: 50px;
}

ion-item-option {
  background-color: transparent;
}
ion-item {
  margin: 10px;
  .label-info {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  padding: {
    top: 20px;
    bottom: 20px;
  }
}

ion-icon {
  color: black;;
  width: 20px;
  height: 20px;
}
.buttonItem{
  top: -40px;
  height: 30px;
  width: 20px;
}

.buttonFabList {
  margin: 0px 25px 0px 0px;
  margin-top: -5px;
  margin-right: 32px;
}

ion-list {
  padding-bottom: 9vh;
}

ion-fab-button {
  --box-shadow: none;
}

.accountName{
  font-size: 20px;
}
ion-fab-button {
  --box-shadow: none;
}