<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ (action === actionsType.EDIT ? 'Editar' : 'Nova') + ' conta' }}
    </ion-title>
  </ion-toolbar>
  <form [formGroup]="form" [ngClass]="has-error">
    <ion-item>
      <ion-label position="stacked">Nome da conta</ion-label>
      <ion-input formControlName="accountName" placeholder="Digite o nome do banco ou conta"></ion-input>
      <div class="error" *ngIf="accountNameCtrl.invalid && (accountNameCtrl.dirty || accountNameCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Saldo</ion-label>
      <ion-input type="number" formControlName="balance" placeholder="R$"></ion-input>
      <div class="error" *ngIf="balanceCtrl.invalid && (balanceCtrl.dirty || balanceCtrl.touched)">
        Campo não pode ser nulo
      </div>
    </ion-item>
    <ng-container *ngIf="!loading; else loadingRef" >
      <ion-button
        [disabled]="form.invalid"
        class="botaoModal"
        size="block" color="success"
        (click)="save(form.value)"
      >
        Salvar
      </ion-button>
    </ng-container>
    <ng-template #loadingRef>
      <div class="spinner-container">
        <ion-spinner name="crescent"></ion-spinner>
      </div>
    </ng-template>
  </form>
</ion-content>

