
ion-toolbar {
    margin-top: 20vh;
    margin-bottom: 10vh;
}
ion-title {
    text-align: center;
    color: darkgray;
}
.botaoRecuperar {
    text-align: center;
}
.botaoRecuperar a {
    color: white;
}

.error {
    font-size: 12px;
    color: red;
}