<ion-toolbar>
  <ion-title>Editar usuário</ion-title>
    <ion-buttons slot="start">
      <ion-button  (click)="closeModal()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
</ion-toolbar  >

<ion-content>
  <form [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input placeholder="Digite seu nome" formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"></ion-label>
      <ion-input placeholder="Digite seu nome" disabled formControlName="email"></ion-input>
    </ion-item>
    <ion-button
      class="botaoModal"
      size="block"
      color="success"
      [disabled]="form.invalid || !changed"
      (click)="save(form.value)">Salvar</ion-button>
  </form>
</ion-content>
